input {
    padding: 4px 6px;
    margin: 4px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addToDo {
    position: absolute;
    right: 1%;
    padding: 10px;
}

.progressRange {
    width: 100%;
    padding: 0;
    background-color: transparent;
    appearance: none;
}

.unborderedInput {

    border: none !important;
    border-color: transparent !important;
}

.invalidInput {
    width: 100px;
    border-color: red;
}

.oneHundredPxClass {
    width: 100px;
}

.oneHundredPercent {
    width: 98%;
}

#searchBar {
    margin-left: 50%;
}

.table th, .table td {
    vertical-align: bottom !important;
}

.table-bordered th, .table-bordered td {
    border: 0px solid #e3e6f0 !important;
}

.levelTh {
    width: 10px !important;
    max-width: 100%  !important;
}

.doneTh {
    width: 10px !important;
    max-width: 100%  !important;
}

.timeTh {
    width: 10px !important;
    max-width: 100%  !important;
}